@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
@import url("https://fonts.cdnfonts.com/css/hero-new");

:root {
  --first-color: #081f37;
  --second-color: #5fc9f3;
  --third-color: #2e97ba;
  --fourth-color: #1e549f;
  --bg: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
}

body  {
  margin: 0 auto;
  color: var(--bg);
}

/* LINKS AND HEADING */
a {
  color: var(--bg);
  text-decoration: none;
}

a:hover {
  color: var(--second-color);
  text-decoration: dashed;
}

h2 {
  text-align: center;
  font-family: 'Hero';
  font-weight: 400;
  letter-spacing: 1px;
}

h3 {
  font-size: 16px;
}

/* SECTION ONE */ 
#section-1 {
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  background: var(--fourth-color);
}

header {
  font-size: 32px;
  font-family: 'Hero';
}

header > span {
  font-size: 38px;
}

#header-nav-bar {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
}

nav > ul > li {
  padding-right: 10px;
}

#news-header {
  display: flex;
}

.news-a {
  padding-left: 10%;
  padding-right: 3%;
}

.news-b {
  padding-right: 10%;
}

.news-b > img {
  border-radius: 20px;
}

/* SECTION TWO */
#section-2 {
  display: flex;
  flex-direction: column;
  background: var(--third-color);
}

#side-content {
  display: flex;
  justify-content: center;
  padding: 2% 0 2% 0;
}

.square {
  width: 260px;
  margin-right: 30px;
  background: var(--bg);
  color: var(--black);
  border-radius: 20px;
  padding: 5px;

  text-align: center;
  font-family: 'Roboto';
  font-size: 14px;
}

#reminder {
  text-align: center;
  padding: 70px;

  background: var(--first-color);
  font-style: italic;
}


/* SECTION THREE */
#section-3 {
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
}

#sign-up {
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 50%;
  margin-top: 2%;
  background: var(--third-color);
  border-radius: 20px;
}

button {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  color: var(--bg);
  background: var(--first-color);
  border-radius: 10px;
  border: none;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 20px;
  background: var(--fourth-color);
}