@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.cdnfonts.com/css/hero-new');

* {
    font-family: 'Roboto', 'Hero New' sans-serif;
    box-sizing: border-box;
}

body {
    margin: auto 0;
}

#container {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-around;
    background: #3d125b;
    align-items: flex-start;
}

nav > ul {
    margin: auto 0;
}

#header > nav > ul > li {
    display: inline;
}

#news {
    display: flex;
    background: purple;
}

.section-1 > h2 {
    margin: auto 0;
    text-align: center;
}

.section-2 > img {
    width: 100%;
}

#content {
    background: blue;
    text-align: center;
}

#four-squares {
    display: flex;
    justify-content: center;
}

#four-squares > div {
    width: 180px;
}
#four-squares > div > img {
    width: 180px;
}

#ad-square {
    display: flex;
    justify-content: center;
}

#ad-square > div {
    width: 60%;
}

#ad-square > div > h3, p {
    margin: auto;
}

button {
    align-self: center;
    width: 90px;
    height: 50px;
}

#footer {
    
}